.ssn-error-message {
    border: 1px solid #990000;
    background: #ffDDFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}

.resurswoo_phpversion_deprecated {
    font-weight: bold;
    font-size: 14px;
    color: #990000;
    margin: 5px;
    padding: 5px 20px;
    background: #ffEFEF;
    border: 1px solid #990000;
}

.resurswoo_upgrade_notice {
    font-weight: bold;
    font-size: 14px;
    color: #990000;
    margin: 5px;
    padding: 5px 20px;
    background: #ffEFEF;
    border: 1px solid #990000;
    display: inline-block;
    float: left;

}

.resursPaymentInfo {
    margin-bottom: 10px;
}

.resursPaymentInfo td.label {
    font-weight: bold;
    border-top: 1px dotted grey;
    vertical-align: top;
    color: #FFFFFF !important;
}

.resursPaymentInfo td.value {
    border-top: 1px dotted grey;
    vertical-align: top;
    color: #FFFFFF !important;
}

.resurs_orderinfo_container {
    background: #129fdc;
    border-top: 1px solid deepskyblue;
    color: #FFFFFF !important;
}

.resurs_orderinfo_text {
    color: #FFFFFF !important;
    font-weight: normal;
}

.resurs_orderinfo_text_label {
    font-weight: bold;
}

.resurs_orderinfo_text_value {
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.resurs-read-more-box {
    max-height: 160px;
    position: relative;
    overflow: hidden;
}

.resurs-read-more-box .resurs-read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    /*top: 160px;*/
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
}

.paymentInfoWrapLogo {
    display: inline-block;
    width: 145px;
    float: right;
    right: 30px;
}

.paymentInfoWrapStatus {
    display: inline-block;
    vertical-align: top;
}

/* Cloned from woocommerce h2-css */
.paymentInfoHead {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    padding: 0;
    font-weight: bold;
}

.resursBankLegalLink {
    color: #009900 !important;
    font-weight: bold;
}

.resursBankLegalLink:hover {
    font-weight: bold;
}

.configSeparateTitle {
    font-size: 16px !important;
    /*font-weight: bold;*/
    background: #dddddd;
    text-align: left !important;
    padding: 5px !important;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.resursConfigSeparator {
}

.configSeparateTitleSmall {
    font-size: 12px !important;
    font-weight: bold;
    background: #cccccc;
    text-align: center !important;
    padding: 5px !important;
    width: 600px;
    margin-left: 250px;
    margin-right: auto;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
}

.uriTemplateLocation {
    color: #990000 !important;
    font-style: italic !important;
    font-weight: bold !important;
    right: 10px;
    position: absolute;
    display: block;
}

.labelBoot-big {
    font-size: 16px !important;
}

.labelBoot-border {
    border: 1px dashed;
}

.labelBoot-nofat {
    font-weight: normal !important;
}

.labelBoot-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.rbCallbackTableStatic {
    padding: 0px !important;
    margin: 0px !important;
    border-spacing: 0px !important;
    word-spacing: 0px !important;
    /*line-height: 0.4em !important;*/
}

.rbCallbackStaticLeft {
    font-size: 12px !important;
}

.rbCallbackStaticRight {
    font-size: 12px !important;
    word-wrap: break-word;
    word-break: break-all;
}

.rbCallbackStaticSelectBox {
    font-size: 12px !important;
    word-wrap: break-word;
    word-break: break-all;
}

.rbCallbackTable {
    padding: 0px !important;
    margin: 0px !important;
    border-spacing: 0px !important;
    word-spacing: 0px !important;
}

.rbCallbackTableFont {
    font-size: 12px !important;
    text-wrap: normal !important;
}

#callbackContent {
    align-content: center;
}

#shopFlowRecommendedSettings {
    font-size: 15px !important;
    color: #0099ff !important;
    font-weight: bold;
    font-style: italic;
}

.resurs-help-tip {
    color: #666;
    display: inline-block;
    font-size: 1.1em;
    font-style: normal;
    height: 16px;
    line-height: 16px;
    position: relative;
    float: right;
    vertical-align: middle;
    width: 16px;
}

.resurs-help-tip:before {
    content: "\f223";
}

.rbAdminExtraInfo {
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    color: #000099;
}

/*!
 * Extraction from Bootstrap for getting designed labels for blocked content.
 * There shoule be as less manipulated css in the content_script since this may crash sites that tries to redesign elements
 * with the same classes.
 */

.labelBoot {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

a.labelBoot:focus, a.labelBoot:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.labelBoot:empty {
    display: none
}

.btn .labelBoot {
    position: relative;
    top: -1px
}

/*noinspection CssUnusedSymbol*/
.labelBoot-default {
    background-color: #777
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.labelBoot-default[href]:focus, .labelBoot-default[href]:hover {
    background-color: #5e5e5e
}

/*noinspection CssUnusedSymbol*/
.labelBoot-primary {
    background-color: #337ab7
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.labelBoot-primary[href]:focus, .labelBoot-primary[href]:hover {
    background-color: #286090
}

/*noinspection CssUnusedSymbol*/
.labelBoot-success {
    background-color: #5cb85c
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.labelBoot-success[href]:focus, .labelBoot-success[href]:hover {
    background-color: #449d44
}

/*noinspection CssUnusedSymbol*/
.labelBoot-info {
    background-color: #5bc0de
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.labelBoot-info[href]:focus, .labelBoot-info[href]:hover {
    background-color: #31b0d5
}

/*noinspection CssUnusedSymbol*/
.labelBoot-warning {
    background-color: #f0ad4e
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.labelBoot-warning[href]:focus, .labelBoot-warning[href]:hover {
    background-color: #ec971f
}

.labelBoot-danger {
    background-color: #d9534f
}

.labelBoot-danger[href]:focus, .labelBoot-danger[href]:hover {
    background-color: #c9302c
}

.resursConfigSelect {
    height: 40px !important;
    width: 800px !important;
}

.resursConfigSelectMulti {
    height: auto !important;
    width: 800px !important;
}

.resursConfigSelectShort {
    height: 40px !important;
    width: 200px !important;
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}

.resursConfigLeft {
    /*width: 200px !important;*/
}

.resursPartPayInfoLink {
    cursor: pointer;
    font-weight: bold;
}

.resursPartPaymentInfo {
    margin: 5px;
    padding: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.resursPaymentDemoRestrictionView {
    font-size: 12px !important;
    color: #990000 !important;
}

.omniActionsWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    font-weight: bold;
    background: url('/wp-content/plugins/resurs-bank-payment-gateway-for-woocommerce/spinnerLocal.gif') no-repeat center;
}

.lastCbTableStyling {
    padding: 0px !important;
    margin: 0px !important;
    vertical-align: top;
    font-size: 12px;
}